.BP_Payment__content-wrapper {
    padding: 40px 40px 40px 80px;

    .BP_page-title {
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;
        color: #000000;
    }

    .table {
        border-top: 1px solid #A8BAC9;
        thead {
            th {
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                color: #616C76;
                border-top: none;
                padding: 32px 16px 8px;
                border-bottom: 1px solid #A8BAC9;
                vertical-align: middle;
            }
        }
        tbody {
            td {
                font-size: 16px;
                line-height: 20px;
                color: #000000;
                padding: 17px 16px 8px;
                border-bottom: 1px solid #A8BAC9;
                vertical-align: middle;

                &:last-child {
                    white-space: nowrap;
                }
            }
        }
    }
}

@media (max-width: 1366px) {
    .BP_Payment__content-wrapper  {
        padding: 30px 30px 30px 60px;
        .table {
            thead {
                th {
                    padding: 25px 12px 8px;
                }
            }
            tbody {
                td {
                    padding: 12px 12px 8px;
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .BP_Payment__content-wrapper {
        padding: 30px 30px;
    }
}
@media (max-width: 767.98px) {
    .BP_Payment__content-wrapper {
        padding: 20px 20px;
        .BP_page-title {
            font-size: 32px;
            line-height: 42px;
        }
    }
}