.BP_sidebar {
    background-color: #f7fafc;
    min-height: 100vh;
    width: 360px;
    border-right: solid 1px #A8BAC9;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    transition: left ease-in-out 0.3s;
}
.BP_sidebar-head {
    .site-name {
        padding: 43px 40px 8px;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
    }
}
.BP_sidebar-menu__link {
    padding: 22px 40px;
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #000000;
    border-top: 1px solid #A8BAC9;
    border-bottom: 1px solid #A8BAC9;

    &.active {
        background-color: #000000;
        color: #FFFFFF;    
        
        &:hover {
            color: #ffffffd3;
            text-decoration: none;
        }
    }
    &:hover {
        color: #0A60FF;
        text-decoration: none;
    }

}
.BP_sidebar-note {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #A8BAC9;
    display: block;
    padding: 16px 40px;
}
.BP_sidebar-foot {
    margin-top: auto;
    padding: 0 40px 40px;
}

.BP_SideBar-page {
    display: flex;
}
.BP_SideBar-page__content {
    width: calc(100% - 360px);
    margin-left: 360px;
}
.BP_SideBar-page__header {
    display: flex;
    align-items: center;
    padding: 45px 40px 15px;
    border-bottom: solid 1px #A8BAC9;
    .nav {
        margin-left: auto;
    }
    .nav-item {
        margin: 0 20px;
        &:last-child {
            margin-right: 0px;
        }

       
    }
    .nav-link {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: #616C76;
        padding: 0;
        position: relative;
        &:hover {
            color: #000000;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: -16px;
            left: 0;
            right: 0;
            width: 100%;
            height: 2px;
            background-color: #000000;
            opacity: 0;
            visibility: hidden;
        }
        &.active {
            color: #000000;
            &::after {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
.sideber-toggler {
    margin-right: auto;
    font-size: 25px;
    width: 30px;
    height: 20px;
    align-items: center;
    justify-content: center;
    svg {
        width: 30px;
        height: 20px;
        color: #000;
    }
}

@media (max-width: 991.98px) {
    .BP_sidebar:not(.show) {
        left: -360px;
        transition: left ease-in-out 0.3s;
    }
    .BP_sidebar-head {
        .site-name {
            padding: 33px 40px 8px;
        }
    }
    .BP_SideBar-page__content {
        margin-left: 0;
        width: 100%;
        transition: margin ease-in-out 0.3s;
    }
    .SideBar-show {
        overflow: hidden;
        .BP_SideBar-page__content {
            margin-left: 360px;
        }
    }
    .BP_SideBar-page__header {
        padding: 35px 30px 15px;
    }
}
@media (max-width: 767.98px) {
    .BP_sidebar {
        width: 300px;
    }
    .SideBar-show {
        .BP_SideBar-page__content {
            margin-left: 300px;
        }
    }
    .BP_SideBar-page__header {
        padding: 25px 20px 15px;
        .nav-item {
            margin: 0 10px;
        }
    }
    .BP_sidebar-head {
        .site-name {
            padding: 23px 30px 8px;
        }
    }
    .BP_sidebar-menu__link {
        padding: 18px 30px;
    }
    .BP_sidebar-note {
        padding: 15px 30px;
    }
}