@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color: #627597;
    font-size: 18px;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    color: #000000;
}
.badge {
    padding: 6px 16px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}
.badge-success {
    background-color: #CAFADE;
    color: #12BA58;
}
.badge-danger {
    background-color: #FFDFE2;
    color: #FD2137;
}
.text-success {
    color: #12BA58 !important;
}
.btn {
    padding: 10px 16px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    svg {
        margin-left: 5px;
        margin-top: -2px;
        width: 15px;
        height: 10px;
    }
}
.btn-yellow {
    background: #FDFD00;
}
.btn-primary {
    background-color: #FFFFFF;
    color: #000000;
    border-color: #FFFFFF;
    
    &:hover, &:focus, &:active {
        background-color: #ffffffeb !important;
        border-color: #ffffffeb !important;
        color: #000000 !important;
        box-shadow: none !important;
    }
    svg {
        fill: #000000;
    }
}
.btn-black {
    background-color: #000000;
    color: #FFFFFF;
    border-color: #000000;
    
    &:hover, &:focus, &:active {
        background-color: #000000eb !important;
        border-color: #000000eb !important;
        color: #FFFFFF !important;
        box-shadow: none !important;
    }
    svg {
        fill: #FFFFFF;
    }
}

.link {
    font-weight: 600;
    font-size: 22px;
    line-height: 20px;
    text-decoration: none !important;
    padding-bottom: 4px;
    color: #000000;
    position: relative;
}

.link-white {
    color: #FFFFFF;
    border-bottom: solid 2px #FFFFFF;
    &:hover {
        color: #FFFFFF;
        opacity: 0.8;
    }
}

.link-dark {
    color: #000000;
    border-bottom: solid 2px #000000;
    &:hover {
        color: #000000;
        opacity: 0.8;
    }
}

@media (min-width: 1300px) {
    .container {
        max-width: 1250px;
    }
}
@media (max-width: 991.98px) {
    .container, .container-md, .container-sm {
        max-width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width: 767.98px) {
    .container, .container-md, .container-sm {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}