.BP_Login {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.BP_Login-header {
    padding: 40px 80px;
    .navbar {
        padding: 0px;
        .navbar-brand {
            padding: 0px;
            margin: 0px;
        }
        .navbar-link {
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            text-align: right;
            color: #000000;

            a {
                color: #0A60FF;
            }
        }
    }
}
.BP_Login-contentWrapper {
    flex: 1 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.BP_Login-form {
    .BP_title {
        font-weight: bold;
        font-size: 80px;
        line-height: 98px;
        text-align: center;
        color: #000000;
        margin-bottom: 40px;
    }
    form {
        max-width: 460px;
        margin-left: auto;
        margin-right: auto;
    }
    .form-group {
        margin-bottom: 24px;
    }
    .form-label {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #616C76;
        margin-bottom: 16px;
    }
    .form-control {
        background: #F7FAFC;
        border: 1px solid #A8BAC9;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 14px 16px;
        height: auto;
        line-height: 18px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        box-shadow: none !important;
        color: #000000;
        &:focus {
            border: 1px solid #0A60FF;
        }
        &.error {
            border: solid 1px #FD2137;
        }
        &.success {
            border-color: #12BA58;
        }
    }
    .btn {
        padding: 12px 16px;
        line-height: 18px;
        height: 48px;

        .check {
            display: none;
            width: 24px;
            height: 24px;
            margin: 0;
        }
        &.success {
            font-size: 0;
            .check {
                display: block;
            }
        }
    }
}
.otpField-group {
    display: flex;
    justify-content: center;

    input {
        width: 25%;
        border: 1px solid #A8BAC9;
        text-align: center;
        padding: 15px 20px 20px;
        font-size: 50px;
        font-weight: 700;
        line-height: 4px;
        height: 80px;
        margin-left: -1px;

        &:first-child {
            border-radius: 8px 0 0 8px;
        }
        &:last-child {
            border-radius: 0 8px 8px 0;
            border-right: 1px solid #A8BAC9;
        }

        &:focus {
            outline: none;
        }
        &.error {
            border-color: #FD2137;
            z-index: 1;
        }
        &.success {
            border-color: #12BA58;
            z-index: 1;
        }
    }
}
.BP_Login-form__trouble-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    display: block;
    margin-top: 24px;
    a {
        color: #0A60FF;
        font-weight: 600;
    }
}
.resend-link {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: rgba(10, 96, 255, 0.5);
    margin-left: 10px;
    &:hover {
        color: #0A60FF;
        text-decoration: none;
    }
}
.BP_Login-footer {
    padding-top: 20px;
    padding-bottom: 40px;
    .nav {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #616C76;
        .nav-item {
            padding-left: 12px;
            padding-right: 12px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                right: -2px;
                top: calc(50% - 2px);
                width: 4px;
                height: 4px;
                background-color: #616C76;
                border-radius: 5px;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
        .nav-link {
            padding: 0px;
            color: #616C76;
            &:hover {
                color: #0A60FF;
            }
        }
    }
}

@media (max-width: 1199.98px) {
    .BP_Login-header {
        padding: 20px 40px;
        .navbar {
            .navbar-link {
                font-size: 18px;
            } 
        }
    }
    .BP_Login-form {
        
        .BP_title {
            font-size: 64px;
        }
    }
 
}
@media (max-width: 767.98px) {
    .BP_Login-header {
        padding: 10px 20px;
    }
    .BP_Login-contentWrapper {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .BP_Login-form {
        .BP_title {
            font-size: 46px;
            line-height: normal;
            margin-bottom: 30px;
        }
    }
}
@media (max-width: 512.98px) {
    .BP_Login-header {
        .navbar {
            flex-wrap: wrap;
            .ml-auto {
                width: 100%;
                margin-top: 10px;
            }
            .navbar-link {
                text-align: center;
            }
        }
    }
    .BP_Login-form {
        .form-label  {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 10px;
        }
    }
    .otpField-group { 
        input {
            height: 60px;
            padding: 10px 20px 15px;
        }
    }
    .BP_Login-footer {
        padding-top: 10px;
        padding-bottom: 20px;
        .nav {
            font-size: 14px;
        }
    }
}