.BP_landing-section {
    position: relative;
    height: calc(100vh - 146px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .container, .container-fluid {
        position: relative;
        z-index: 4;
    }
}
.BP_landing-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    max-width: 87%;
    height: calc(100% - 70px);
    margin-left: auto;
    border-radius: 24px 0px 0px 24px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.BP_landing-content {
    position: absolute;
    left: 0;
    top: 80px;
    z-index: 5;
    background: #FFFFFF;
    border-radius: 4px;
    max-width: 565px;
    padding: 35px 40px;
    h1 {
        font-weight: 500;
        font-size: 40px;
        line-height: 49px;
        color: #000000;
        margin-bottom: 16px;
    }
    p {
        font-size: 24px;
        line-height: 29px;
        color: #616C76;
    }
    .input-group {
        margin-top: 40px;
        .form-control {
            background: #EAF0F3;
            border: solid 1px #EAF0F3;
            height: auto;
            border-radius: 0px;
            padding: 16px;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
        }
        .input-group-append {
            .btn {
                border: none;
                border-radius: 0px;
                background-color: #000000;
                color: #FFFFFF;
                padding: 18px 22px;
            }
        }
    }
}
.BP_landing-nav {
    position: relative;
    z-index: 2;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.BP_landing-nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        color: #000000;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        font-family: 'Source Code Pro', monospace;
    }
}
.BP_landing-caseStudy {
    max-width: 480px;
    padding: 0;
    margin-left: auto;
    margin-bottom: 40px;
    margin-right: 65px;

    p {
        font-size: 24px;
        line-height: 29px;
        font-weight: 400;
        color: #FFFFFF;
        margin-bottom: 0;

        a {
            text-decoration: underline;
            color: #FFFFFF;
        }
    }
}
.BP_customer-loyalty-section {
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
    z-index: 6;
    background-color: #FFFFFF;
    height: 100vh;
    display: flex;
    align-items: center;
}
.BP_customer-loyalty__content {
    max-width: 600px;
    margin-left: 65px;
    .BP_title {
        font-weight: 500;
        font-size: 40px;
        line-height: 49px;
        color: #000000;
        margin-bottom: 8px;
    }
    .BP_description {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: left;
        margin-bottom: 40px;
        color: #627597;
        max-width: 460px;
    }
    .link-dark {
        margin-left: 50px;
        svg {
            position: absolute;
            left: -50px;
            top: 4px;
            width: 36px;
            height: 18px;
        }
    }
}
.BP_customer_bg {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    bottom: 0;
    max-width: 640px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
    }
}
.BP_getStarted-section {
    background-color: #FDFD00;
    padding-top: 260px;
    padding-bottom: 260px;
    position: relative;
    z-index: 5;
}
.BP_getStarted__content {
    text-align: center;

    img {
        max-width: 240px;
        margin-bottom: 32px;
        filter: brightness(0);
    }
    .BP_text {
        font-weight: 500;
        font-size: 40px;
        line-height: 49px;
        text-align: center;
        color: #000000;
        margin-bottom: 32px;
    }
    .btn {
        padding: 22px 50px;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    }
}




.BP_workWith-section{
    padding: 40px 0 80px;
}
.BP_workWith-card{
    padding: 35px 40px;
    border: 1px solid #A8BAC9;
    border-radius: 8px;
    max-width: 778px;
    margin: auto;
}
.BP_worWith-card__content {
    .BP_title {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #2A3439;
        margin-bottom: 8px;
    }
    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #2A3439;
    }
}
.BP_worWith-card__image {
    position: relative;
    img{
        position: absolute;
        &:first-child {
            top: -10px;
            left: 80px;
        }
        &:nth-child(2){
            top: 60px;
            left: 0;
        }
        &:nth-child(3){
            top: 100px;
            left: 110px;        
        }
        &:last-child{
            top: 40px;
            right: 0;
        }
    }
}
.BP_superior-payment {
    background: #000000;
    color: #fff;
    border-radius: 50px;
    margin-top: 100px;
    padding: 150px 70px 70px;
    .BP_superior-payment__text {
        h1{
            color: #FFFFFF;
        }
    }
    .BP_customers {
        padding-top: 110px;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        div {
            margin: auto;
        }
    }
}
.product-detaile__content {
    .BP_title {
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        text-align: right;
        color: #000000;
        margin-bottom: 18px;
    }
    .BP_description {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: #627597;
        max-width: 460px;
        margin-left: auto;
        margin-bottom: 40px;
    }
    .link {
        svg {
            position: absolute;
            left: -50px;
            top: 4px;
            width: 36px;
            height: 18px;
        }
    }
}
.BP_scrolling-section {
    height: 100vh;
    background-color: #FFFFFF;
    position: relative;
    .container {
        height: 100vh;
        .row {
            height: 100vh;
            align-items: center;
            .col {
                height: 100%;
            }
        }
    }
}
.BP_click-checkout-section {
    margin-top: -100vh;
    .BP_product-detaile__content {
        padding-right: 140px;
        img {
            position: relative;
           
        }
    }
}
.BP_scrolling {
    position: relative;
}
.BP_scrolling-slider-section {
    position: sticky;
    top: 0px;
    height: 100vh;
    max-width: 50%;
    z-index: 5;
    background-color: #FFFFFF;
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
    }
    .BP_product-detaile__img {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.BP_product-detaile__content {
    position: absolute;
    display: flex;
    visibility: hidden;
    opacity: 0;
    align-items: center;
    justify-content: center;
    transform: scale(.8) translateX(-70px);
    transition: all ease-in-out 0.3s;
}
.--section-1 {
    .BP_product-detaile__content {
        &.checkout-img {
            visibility: visible;
            opacity: 1;
            transform: scale(1) translateX(0);
        }
    }
}

.--section-2 {
    .BP_product-detaile__content {
        &.credits-img {
            visibility: visible;
            opacity: 1;
            transform: scale(1) translateX(0);
        }
    }
}
.--section-3 {
    .BP_product-detaile__content {
        &.chargebacks-img {
            visibility: visible;
            opacity: 1;
            transform: scale(1) translateX(0);
        }
    }
}
.--section-4 {
    .BP_product-detaile__content {
        &.encryption-img {
            visibility: visible;
            opacity: 1;
            transform: scale(1) translateX(0);
        }
    }
}
@media (max-height: 700px) {
    .BP_landing-content {
        top: 40px;
        max-width: 480px;
        padding: 30px 40px;

        h1 {
            font-size: 32px;
            line-height: 38px;
        }
         
        p {
            font-size: 18px;
            line-height: 24px;
        }
        .input-group {
            margin-top: 30px;
        }
    }
    .BP_landing-caseStudy {
        margin-bottom: 25px;
    }
}
@media (max-width: 1440.95px) {
    .BP_landing-caseStudy {
        margin-right: 0;
    }
}
@media (max-width: 1199px) {
    .BP_landing-section {
        .container {
            margin-top: auto;
            margin-bottom: 0;
        }
    }
    .BP_landing-caseStudy {
        p {
            font-size: 18px;
            line-height: 24px;
        
        }
    }
    .BP_worWith-card__image {
        img {
            position: static;
        }
    }
    .BP_superior-payment {
        margin-top: 100px;
        padding: 110px 50px 50px;

        .BP_superior-payment__text {
            h1 {
                font-size: 32px;
            }
        }
    }
    .BP_customer-loyalty__content {
        margin-left: 0px;
    }
}
@media (max-width: 991px) {
    .BP_landing-content {
        max-width: 380px;
        padding: 25px 35px;
        h1 {
            font-size: 26px;
            line-height: 32px;
        }
        p {
            font-size: 16px;
            line-height: 22px;
        }
        .input-group  {

            .input-group-append {
                .btn {
                    padding: 14px 15px;
                }

            }
        }
    }
    .BP_landing-caseStudy {
        margin-right: 0px;
        p {
            font-size: 14px;
            line-height: 20px;
        }
    }
    .BP_landing-nav {
        margin-top: 0;
    }
    .BP_landing-nav__list {
        a {
            font-size: 18px;
            line-height: 24px;
        }
    }
    .BP_getStarted-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .BP_getStarted__content {
        img {
            margin-bottom: 15px;
        }
        .BP_text {
            font-size: 28px;
            line-height: 34px;
        }
        .btn {
            padding: 15px 50px;
        }
    }
    .BP_customer-loyalty-section {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 0px;
        padding-bottom: 0px;
        height: auto;
    }
    .BP_customer-loyalty__content {
        padding-top: 50px;
        padding-bottom: 70px;
        max-width: 100%;
    }
    .BP_customer_bg {
        position: static;
        width: 100%;
        max-width: 100%;
        height: 400px;
    }
    .product-detaile__content {
        .BP_title {
            font-size: 28px;
            line-height: 34px;
        }
        .BP_description {
            font-size: 18px;
            line-height: 22px;
        }
    }
    .link {
        font-size: 18px;
        line-height: 20px;
    }
    .BP_superior-payment {
        margin-top: 75px;
        padding: 85px 50px 50px;
        .BP_superior-payment__text {
            h1 {
                font-size: 24px;
            } 
            .BP_description {
                font-size: 16px;
            }
        }
        .BP_customers {
            padding-top: 75px;
        }
    }
}
@media (max-width: 767px) {
    .BP_landing-section {
        height: calc(100vh - 144px);
        h1 {
            font-size: 28px;
            line-height: 38px;
        }
    }
    .BP_landing-caseStudy {
        margin: auto;
        margin-top: 40px;
        max-width: 320px;
        margin-right: 0;
        text-align: right;
    }
    .BP_landing-bg {
        max-width: calc(100% - 20px);
        height: calc(100% - 75px);
    }
    .BP_landing-nav {
        padding-top: 30px;
        padding-bottom: 15px;
    }
    .BP_landing-content {
        padding: 20px 25px;
    }
    .BP_click-checkout-section {
        margin-top: auto;
    }
    .BP_superior-payment {
        margin-top: 45px;
        padding: 45px 30px 30px;
        border-radius: 20px;
        .BP_customers {
            padding-top: 35px;
            .BP_customers__item {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
    .bankpay-image {
        margin-top: 20px;
    }
    .BP_workWith-section {
        padding: 40px 0 60px;
    }
    .BP_product-detaile__content {
        position: static;
        transform: none;
        visibility: visible;
        opacity: 1;
    }
    .BP_click-checkout-section {
        
        .BP_product-detaile__content {
            padding-right: 0;
            img {
                &:last-child {
                    margin-left: 0;
                    left: 0px;
                }
            }
        }
    }
    .BP_customer-loyalty__content {
        .BP_title {
            font-size: 26px;
            line-height: 34px;
        }
        .BP_description {
            font-size: 18px;
            line-height: 24px;
        }
    }   
    .product-detaile__content {
        padding-top: 40px;
        text-align: center !important;
        .BP_description, .BP_title {
            text-align: center;
        }
    }
    .BP_scrolling-section {
        height: auto;
        padding-bottom: 70px;
        .container {
            height: auto;
            .row {
                height: auto;
            }
        }
    }
    .BP_workWith-card {
        padding: 30px 25px;
    }
    .BP_worWith-card__image {
        display: flex;
        margin-top: 20px;
    }
    .BP_worWith-card__image {
        img {
            max-width: 70px;
        }
    }
}
@media (max-width: 512px) {
    .BP_landing-content {
        max-width: calc(100% - 20px);
        .input-group {
            margin-top: 20px;
        }
    }
}