.main-footer {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #000
}

.footer-logo {
    max-width: 100px
}

.footer-card {
    height: 100%;
    display: flex;
    flex-direction: column
}

.footer-card label {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #fff
}

.footer-nav  {
    margin-bottom: 0;

    li {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0
        }
    }

    a {
        color: #fff;
        transition: all ease-in-out .3s;
        white-space: nowrap;

        &:hover {
            text-decoration: none;
            color: rgba(255, 255, 255, .8)
        }
    }
} 

.landing-page-footer {
    padding-bottom: 60px;
    .footer-logo {
        margin-bottom: 40px;
        max-width: 240px;
    }
}

.footer-address-text {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px
}

.footer-title-text {
    font-weight: 900;
    font-size: 115px;
    line-height: 88px;
    color: #161616
}

.landing-footer-title {
    padding-top: 90px
}

.service-status-title {
    position: relative;
    width: max-content; 

    &:after {
        content: "";
        right: -25px;
        width: 16px;
        height: 16px;
        background-color: #12ba58;
        position: absolute;
        top: 5px;
        border-radius: 50%
    }
}
.flag-dropdown {
    display: inline-flex;
    .btn {
        padding: 10px 12px;
        border-radius: 0px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        
        img {
            margin-right: 5px;
            width: 16px;
        }
    }
    .dropdown-toggle {
        &:after {
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9L0.803849 -9.78799e-07L11.1962 -7.02746e-08L6 9Z' fill='%23C4C4C4'/%3E%3C/svg%3E%0A");
            border: none;
            width: 12px;
            height: 12px;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: 10px;
        }
    }
    .dropdown-menu {
        border: none;
        border-radius: 0px;
        .dropdown-item {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            padding: 5px 12px;
            img {
                margin-right: 5px;
                width: 16px;
            }
        }
    }
}

@media (max-width: 991px) {
    .footer-card {
        margin-bottom: 40px;
        height: auto;
    }
    .landing-footer-title {
        padding-top: 0;
    }
    .footer-title-text {
        font-size: 56px;
        line-height: 60px;
    }
}
@media (max-width: 767px) {
    .footer-title-text {
        font-size: 30px;
        line-height: 40px;
    }
    .footer-nav {
        font-size: 16px;
    }
}