.main-header {
    padding-top: 0px;
    padding-bottom: 28px;
    .topbar {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        background: #FDFD00;
        padding: 18px 0;
        margin-bottom: 28px;
        p {
            margin-bottom: 0px;
            a {
                color: #000;
                text-decoration: underline;
            }
        }
    }
    .navbar-nav {
        .nav-link {
            font-size: 20px;
            font-weight: 500;
            color: #000000;
            padding: 0;
            margin: 0px 20px;
            display: inline-flex;
            align-items: center;
            position: relative;
            &.nav-link--started {
                font-weight: 700;
            }
            &:hover {
                color: #000000;
                opacity: 0.8;
            }
            svg {
                margin-left: 5px;
            }
            &:after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: -12px;
                height: 4px;
                width: 100%;
                background-color: transparent;
            }
            &.active::after {
                background-color: #000000;
            }
        }
    }
    .login-link {
        font-size: 20px;
        font-weight: 500;
        color: #000000;
        padding: 2px 0;
        display: inline-flex;
        align-items: center;
        margin-left: 20px;
        text-decoration: none !important;
        &:hover {
            color: #000000;
            opacity: 0.8;
            text-decoration: none;
        }
        svg {
            margin-left: 5px;
        }
    }
}
.navbar-brand {
    img {
        max-width: 160px;
    }
}

@media (max-width: 991px) {
    .main-header {
        .login-link {
            margin-left: auto;
            margin-right: 20px;
        }
        .navbar-toggler {
            border: none;
            padding: 0;
        }
        .topbar {
            font-size: 14px;
        }
    }
    .navbar-collapse {
        position: absolute;
        left: -30px;
        right: 0;
        background-color: #fff;
        top: 60px;
        z-index: 8;
        width: calc(100% + 60px);
        .navbar-nav {
            padding-bottom: 30px;
            padding-top: 30px;
            align-items: flex-start;
            .nav-link {
                margin-left: 30px;
                margin-bottom: 5px;
                padding: 5px 0;
                &:after {
                    bottom: 0;
                    height: 2px;
                }
            }
        }
    }
    
}
@media (max-width: 767px) {
    .main-header {
        padding-top: 0;
        padding-bottom: 15px;
        .topbar {
            margin-bottom: 15px;
            padding: 10px 0;
        }
        .navbar-nav {
            .nav-link {
                
                margin: 0 30px;
                font-size: 14px;
            }
        }
    }
    .navbar-collapse {
        top: 30px;
    }
    .navbar-brand {
        img {
            max-width: 145px;
        }
    }
    
}