

/*Add Returning Modal Start*/
.returning-modal {
    .modal-content {
        background: linear-gradient(180deg, #000000 0%, #2A313C 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        border: none;
    }
    .modal-header {
        border: none;
        padding-top: 15px;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 13px;
        
        .close-popup {
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
        }
    }
    .modal-points-label {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        padding: 18px 60px;
        background: linear-gradient(89.27deg, #0A60FF 0%, #001C4F 100%);
    }
    .checkout-price {
        background: #2A3439;
        box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.08);
        border-radius: 8px;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        padding: 2px 12px;
        display: flex;
        align-items: center;

        .quantity {
            width: 16px;
            height: 16px;
            margin-left: 4px;
            background: #FFFFFF;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            color: #000000;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
        }
    }
    .modal-body {
        padding: 22px 32px 24px;
    }
    .detail-control {
        content: "";
        width: 100%;
        padding: 0;
        justify-content: flex-start;
        background-color: transparent !important;
        border: none;
        border-radius: 0;
        font-weight: 500;
        color: #fff !important;

        &::after {
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='8' viewBox='0 0 16 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99997 8C7.71322 8 7.4265 7.90396 7.20788 7.71229L0.328227 1.67776C-0.109409 1.29388 -0.109409 0.671503 0.328227 0.287787C0.765686 -0.095929 1.4751 -0.095929 1.91277 0.287787L7.99997 5.62748L14.0872 0.287973C14.5249 -0.0957425 15.2342 -0.0957425 15.6716 0.287973C16.1095 0.67169 16.1095 1.29407 15.6716 1.67794L8.79207 7.71248C8.57334 7.90418 8.28662 8 7.99997 8Z' fill='white'/%3E%3C/svg%3E%0A");
            background-position: center;
            background-repeat: no-repeat;
            border: none;
            width: 16px;
            height: 8px;
            margin-left: auto;
        }
    }
    .dropdown {
        
        .dropdown-menu {
            right: 0 !important;
            left: auto !important;
            padding: 0px 10px;
            background-color: #C4C4C4;
            border-radius: 4px;
            border: none;
            min-width: calc(100% + 90px);
            max-width: calc(100% + 115px);

            .dropdown-label {
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
                color: #737373;
                display: block;
                margin-top: 4px;
            }

            .dropdown-item {
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
                font-weight: 400;
                color: #000000;
                padding: 4px 0;
                border-bottom: 1px solid rgba(42, 52, 57, 0.16);
                background-color: transparent !important;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &:hover {
                    background-color: transparent;
                }

                &:last-child {
                    border-bottom: none;
                }
                &.selected {
                    &:after {
                        content: "";
                        background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7657 0.359206C15.4533 0.0467685 14.9468 0.0467685 14.6343 0.359206L5.04983 9.9438L1.3657 6.25968C1.0533 5.94724 0.546797 5.94727 0.234328 6.25968C-0.0781094 6.57208 -0.0781094 7.07858 0.234328 7.39102L4.48414 11.6408C4.79645 11.9532 5.30333 11.953 5.61552 11.6408L15.7657 1.49058C16.0781 1.17817 16.0781 0.671644 15.7657 0.359206Z' fill='black'/%3E%3C/svg%3E%0A");
                        width: 16px;
                        height: 12px;
                        display: inline-block;
                        background-position: center;
                        background-repeat: no-repeat;
                        margin-left: 30px;
                    }  
                }
            }
        }
    }
    .btn-checkout {
        svg {
            width: 12px;
            height: 12px;
            margin-top: 0;
        }
    }
}
.bankAccount-dropdown {
    .btn {
        img {
            margin-right: 8px;
            height: 16px;
        }
    }
}
.shipping-accordion {
    margin-bottom: 16px;
    .card {
        border: none;
        background: transparent;
        border-radius: 0px;
        .card-header {
            padding: 0px;
            border-bottom: 1px solid #A8BAC9;
            margin-bottom: 0px;

            button {
                padding-left: 0;
                padding-right: 0;
                padding-top: 0px;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #FFFFFF;
                width: 100%;
                text-align: left;
                justify-content: flex-start;
                text-decoration: none !important;
                border-radius: 0 !important;
                box-shadow: none !important;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='8' viewBox='0 0 16 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99997 8C7.71322 8 7.4265 7.90396 7.20788 7.71229L0.328227 1.67776C-0.109409 1.29388 -0.109409 0.671503 0.328227 0.287787C0.765686 -0.095929 1.4751 -0.095929 1.91277 0.287787L7.99997 5.62748L14.0872 0.287973C14.5249 -0.0957425 15.2342 -0.0957425 15.6716 0.287973C16.1095 0.67169 16.1095 1.29407 15.6716 1.67794L8.79207 7.71248C8.57334 7.90418 8.28662 8 7.99997 8Z' fill='white'/%3E%3C/svg%3E%0A");
                background-position: top 6px right;
                background-repeat: no-repeat;
            }
        }
        .card-body {
            padding: 16px 0px 0;
        }
        
    }
}
.std-shipping-form {

    .form-group, .input-group {
        position: relative;
        &.disabled {
            opacity: 0.5;
        }
    }
    .input-group-prepend {
        margin-right: 0;
        ~ .form-label {
            margin-left: 20px;
        }
        ~ .form-control {
            padding-left: 34px;
        }
    }
    .form-control {
        border: 1px solid #A8BAC9;
        box-sizing: border-box;
        border-radius: 4px !important;
        background-color: transparent !important;
        box-shadow: none !important;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        height: 32px;
        color: #FFFFFF;
        padding: 6px 16px;
        z-index: 1;
        &:focus ~ .form-label {
            opacity: 1;
            top: -11px;
            font-size: 10px;
            line-height: 12px;
            color: #FFFFFF;
        }
        &.error {
            border-color: #FD2137;
            z-index: 1;
        }
        &.success {
            border-color: #12BA58;
            z-index: 1;
        }
    }
    .form-label {
        position: absolute;
        margin-bottom: 0px;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: #A8BAC9;
        top: 0;
        left: 0;
        padding: 6px 16px;
        z-index: 0;
        display: none;
        &.floating {
            opacity: 1;
            display: block;
            top: -11px;
            font-size: 10px;
            line-height: 12px;
            color: #FFFFFF;
        }
    }
    .input-group-prepend {
        position: absolute;
        height: 32px;
        top: 0;
        .input-group-text {
            background-color: transparent;
            border: none;
            padding: 8px 8px 8px 16px;

        }
    }
    .custom-checkbox {
        display: flex;
        align-items: center;
    }
    .custom-control-label {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        &:before {
            border: 1px solid #A8BAC9;
            border-radius: 0;
            background-color: #ffffff;
            top: 1px;
            box-shadow: none !important;
        }
        &::after {
            width: 12px;
            height: 12px;
            border-radius: 4px;
            top: 3px;
            left: -22px;
        }
    }
    .custom-control-input {
        &:checked {
            ~ .custom-control-label {
                &:after {
                    background-image: none;
                    background-color: #0A60FF;
                }
            }
        }
    }
    .form-check-input {
        margin-top: 3px;
    }
}
.search-result {
    width: 100%;
    background-color: #fff;
    margin-top: -2px;
    max-height: 90px;
    overflow: auto;
    position: absolute;
    z-index: 11;
    top: 32px;
    left: 0;
    right: 0;

    ul {
        padding: 10px 0px;
        margin-bottom: 0px;

        li {
            border-bottom: 1px solid #cccccc;

            &:last-child {
                border-bottom: none;
            }
            a {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                padding: 5px 20px;
                color: #000000;
                text-decoration: none !important;
            }
        }
    }
}
.modal-form__group {
    display: flex;
    align-items: center;

    .link {
        margin-left: auto;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-decoration-line: underline !important;
        border-bottom: none;
        color: #FFFFFF;
        padding-bottom: 0px;
    }
}
.modal-form-label {
    text-align: right;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #A8BAC9;
    margin-bottom: 0px;
    display: block;
}
.modal-form__input {
    &[readonly] {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        background-color: transparent;
        border: none;
        padding: 0;
        outline: none !important;
        
        &:focus {
            outline: none;
        }
    }
    background: #FFFFFF;
    border: 1px solid #A8BAC9;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 6px 8px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    &:focus {
        outline: none;
    }
}
.btn-email-varify {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 10px;
    box-shadow: none !important;
    svg {
        width: 16px;
        height: 14px;
        margin: 0;
    }
}
.edited-form {
    padding: 2px 0 0;

    .edited-form__label {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 24px;
    }
    .form-label {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #A8BAC9;
        margin-bottom: 4px;
    }
    .form-control {
        padding: 6px 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        height: 32px;
        &.error {
            border-color: #FD2137;
            z-index: 1;
        }
        &.success {
            border-color: #12BA58;
            z-index: 1;
        }
    }
}
.edited-form__action {
    .link {
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        padding: 0;
        border: none;
        text-decoration: underline !important;
        margin-left: 40px;
    }
}
.bank-account-list {
    padding-top: 0px;
    padding-bottom: 20px;
    margin-left: -32px;
    margin-right: -32px;
    margin-top: -14px;
}
.bank-account__item {
    height: 48px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #2A3439;
}
.bank-account__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 16px 30px 16px 17px;
    position: relative;
    &::after {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7657 0.239312C15.4533 -0.0797705 14.9468 -0.0797705 14.6343 0.239312L5.04982 10.0277L1.3657 6.26526C1.0533 5.94618 0.546796 5.94621 0.234328 6.26526C-0.0781093 6.58431 -0.0781093 7.10159 0.234328 7.42067L4.48414 11.7608C4.79645 12.0798 5.30332 12.0796 5.61551 11.7608L15.7657 1.39475C16.0781 1.0757 16.0781 0.558394 15.7657 0.239312Z' fill='white'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: cover;
        width: 16px;
        height: 12px;
        position: absolute;
        top: 19px;
        right: 30px;
    }
    &:hover {
        color: #FFFFFF;
    }
    img {
        margin-right: 8px;
        height: 16px;
    }
}

.otp-form {
    text-align: center;
    padding-top: 2px;
    .otpField-group {
        margin-bottom: 24px;
        input {
            height: 64px;
        }
    }
    .btn-continue {
        height: 48px;
    }
}
.otp-form__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 8px;
}
.otp-form__description {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: 8px;
}
.otp-action-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #0A60FF;
    margin-bottom: 13px;
    display: inline-block;
    &:hover {
        color: #0A60FF;
        text-decoration: none;
    }
}

/*End Rerurning Modal*/

.success-modal__content {
    .modal-header {
        border: none;
        padding-top: 15px;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 13px;
    }
    .closing-checkoutTime {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
    }
    .modal-points-label {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        padding: 18px 60px;
        background: linear-gradient(89.27deg, #12BA58 0%, #13532D 100%);
    }
    .modal-body {
        padding: 22px 32px 24px;
    }
    .modal-footer {
        border: none;
        padding: 0 32px 24px;

        .btn-black {
            svg {
                width: 12px;
                height: 12px;
            }
        }
    }
}

.success-modal__detail {
    .title {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        padding-bottom: 16px;
        border-bottom: 1px solid #A8BAC9;
        margin-bottom: 11px;
    }
}
.order-detail {
    padding-bottom: 8px;
    border-bottom: 1px solid #A8BAC9;
    margin-bottom: 0px;
    li {
        padding: 8px 0;
        display: flex;
        align-items: center;
    }
    .label {
        margin-bottom: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #A8BAC9;
        width: 95px;
        
    }
    .value {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        display: inline-flex;
        align-items: center;

        img {
            height: 16px;
            margin-right: 8px;
        }
    }
}
.order-price-detail {
    padding-bottom: 12px;
    padding-top: 12px;
    border-bottom: 1px solid #A8BAC9;
    li {
        padding: 4px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .label {
        margin-bottom: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #A8BAC9;
        width: 95px;
    }
    .value {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
    }
}
.success-modal__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .link {
        padding-bottom: 0;
        border-bottom: none;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        display: flex;
        align-items: center;

        svg {
            margin-right: 8px;
        }

        &:last-child {
            svg {
                margin-left: 8px;
                margin-right: 0px;
            }
        }
    }
}
.edited-form__mobile {
    display: none;
}
.returning-modal__wrapper_mobile {
    display: none;
}
@media (max-width: 767px) {
    .returning-modal {
        .modal-logo {
            svg {
                width: 120px;
                height: 12px;
            }
        }
        &.modal-dialog-centered {
            align-items: flex-end;
            margin: 0;
            height: 100%;
        }
        .modal-header {
            border: none;
            padding-top: 16px;
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 13px;
        }
        .modal-body {
            padding: 16px 16px 40px;
        }
        .modal-content {
            border-radius: 16px 16px 0px 0px;
        }
        .modal-points-label {
            font-size: 12px;
            line-height: 15px;
            padding: 16px 30px;
        }
        .checkout-price {
            font-size: 12px;
            line-height: 15px;
            border-radius: 8px;
            padding: 2px 8px;

            .quantity {
                font-size: 10px;
                line-height: 12px;
                width: 12px;
                height: 12px
            }
        }
        
        .dropdown {
            .dropdown-menu {
                transform: none !important;
                top: 30px !important;
                min-width: calc(100% + 60px);
                max-width: calc(100% + 90px);
            }
        }
        .detail-control {
            font-size: 12px;
            line-height: 15px;
            &:after {
                background-image: url("data:image/svg+xml,%3Csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 8.00003C8 8.28678 7.90396 8.5735 7.71229 8.79212L1.67776 15.6718C1.29388 16.1094 0.671503 16.1094 0.287787 15.6718C-0.095929 15.2343 -0.0959291 14.5249 0.287787 14.0872L5.62748 8.00003L0.287973 1.91279C-0.0957431 1.47515 -0.0957432 0.765811 0.287973 0.328387C0.671689 -0.109461 1.29407 -0.109461 1.67794 0.328387L7.71248 7.20793C7.90418 7.42666 8 7.71338 8 8.00003Z' fill='white'/%3E%3C/svg%3E%0A");
                width: 8px;
                height: 16px;
            }
        }
    }   
    .edited-form {
        display: none;
    }
    .shipping-accordion {
        .card {
            .card-header {
                button {
                    font-size: 12px;
                    line-height: 15px;
                    background-image: url("data:image/svg+xml,%3Csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 8.00003C8 8.28678 7.90396 8.5735 7.71229 8.79212L1.67776 15.6718C1.29388 16.1094 0.671503 16.1094 0.287787 15.6718C-0.095929 15.2343 -0.0959291 14.5249 0.287787 14.0872L5.62748 8.00003L0.287973 1.91279C-0.0957431 1.47515 -0.0957432 0.765811 0.287973 0.328387C0.671689 -0.109461 1.29407 -0.109461 1.67794 0.328387L7.71248 7.20793C7.90418 7.42666 8 7.71338 8 8.00003Z' fill='white'/%3E%3C/svg%3E%0A");
                    background-position: top 0px right
                }
            }
        }
    }
    .modal-form-label {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
    }
    .modal-form__input{
        &[readonly] {
            font-size: 12px;
            line-height: 15px;
        }
        font-size: 12px;
        line-height: 15px;
    }
    .returning-modal__wrapper {
        display: none !important;
    }
    .returning-modal__wrapper_mobile {
        display: block;

        .btn-std-shipping {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #FFFFFF;
            padding-top: 0;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 9px;
            width: 100%;
            text-align: left;
            justify-content: flex-start;
            border-bottom: 1px solid #A8BAC9;
            border-radius: 0;
            margin-bottom: 14px;
            box-shadow: none !important;

            &:focus {
                box-shadow: none;
            }
            &::after {
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 8.00003C8 8.28678 7.90396 8.5735 7.71229 8.79212L1.67776 15.6718C1.29388 16.1094 0.671503 16.1094 0.287787 15.6718C-0.095929 15.2343 -0.0959291 14.5249 0.287787 14.0872L5.62748 8.00003L0.287973 1.91279C-0.0957431 1.47515 -0.0957432 0.765811 0.287973 0.328387C0.671689 -0.109461 1.29407 -0.109461 1.67794 0.328387L7.71248 7.20793C7.90418 7.42666 8 7.71338 8 8.00003Z' fill='white'/%3E%3C/svg%3E%0A");
                background-position: center;
                background-repeat: no-repeat;
                border: none;
                width: 8px;
                height: 16px;
                margin-left: auto;
            }
        }
    }
    .success-modal__content {
        .modal-logo {
            svg {
                width: 120px;
                height: 12px;
            }
        }
        &.modal-dialog-centered {
            align-items: flex-end;
            margin: 0;
            height: 100%;
        }
        .modal-header {
            border: none;
            padding-top: 16px;
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 13px;
        }
        .modal-body {
            padding: 16px 16px 40px;
        }
        .modal-content {
            border-radius: 16px 16px 0px 0px;
        }
        .modal-points-label {
            font-size: 12px;
            line-height: 15px;
            padding: 16px 30px;
        }
    }   
    .success-modal__detail { 
        .title {
            font-size: 12px;
            line-height: 15px;
            padding-bottom: 9px;
        }
    }
    .order-detail, .order-price-detail {
        .label {
            font-size: 12px;
            line-height: 15px;
        }
        .value {
            font-size: 12px;
            line-height: 15px;
        }
    }
    .success-modal__action {
        flex-direction: column;
        justify-content: center;

        .link:not(:last-child) {
            margin-bottom: 8px;
        }
    }
    .edited-form__mobile {
        position: absolute;
        top: -97px;
        left: 0;
        width: 100%;
        background: linear-gradient( 180deg , #000000 0%, #2A313C 100%); 
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px 16px 0 0;
        bottom: 0;

        .edited-form__mobile_header {
            padding: 13px 16px;
            border-bottom: 1px solid #A8BAC9;
            display: flex;
            align-items: center;
            .link-back {
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                color: #FFFFFF;
                position: absolute;
                left: 16px;
                top: 15px;
                svg {
                    margin-right: 4px;
                }
            }
            .title {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                color: #FFFFFF;
                margin: auto;
            }
        }

        .edited-form__mobile_body {
            padding: 8px 0;
        }
    }
    .edited-selected-list {
        width: 100%;
        li {
            border-bottom: 1px solid #2A3439;
        }
        a {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #FFFFFF;
            padding: 16px;
            padding-right: 45px;
            display: flex;
            align-items: center;
            position: relative;

            img {
                height: 16px;
                margin-right: 8px;
            }

            &.selected {
                &:after {
                    content: "";
                    background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7657 0.239312C15.4533 -0.0797705 14.9468 -0.0797705 14.6343 0.239312L5.04982 10.0277L1.3657 6.26526C1.0533 5.94618 0.546796 5.94621 0.234328 6.26526C-0.0781093 6.58431 -0.0781093 7.10159 0.234328 7.42067L4.48414 11.7608C4.79645 12.0798 5.30332 12.0796 5.61551 11.7608L15.7657 1.39475C16.0781 1.0757 16.0781 0.558394 15.7657 0.239312Z' fill='white'/%3E%3C/svg%3E%0A");
                    width: 16px;
                    height: 12px;
                    display: inline-block;
                    background-position: center;
                    background-repeat: no-repeat;
                    margin-left: 30px;
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
    .edited-form__mobile_wrapper {
        padding: 0 16px 16px;
        .form-label {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
        }
        .input-group-prepend {
            position: absolute;
            left: 0;
            top: 0;
            height: 32px;
        }
        .input-group-text {
            background-color: transparent;
            border-right: 0px;
            border: none !important;
            color: #A8BAC9;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
        }
        .form-control {
            background-color: transparent !important;
            border: 1px solid #FFFFFF !important;
            box-sizing: border-box;
            border-radius: 4px !important;
            height: 32px;
            padding-left: 35px;
            box-shadow: none !important;
            color: #FFFFFF;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            &.error {
                border-color: #FD2137;
                z-index: 1;
            }
            &.success {
                border-color: #12BA58;
                z-index: 1;
            }
        }
        .add-phoneNumber {
            .form-control {
                padding-left: 50px;
            }
        }
        .btn-save {
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            color: #FFFFFF;
            text-transform: uppercase;
            padding: 4px 20px 4px;
            border-radius: 8px;
        }
    }
    .yourBank-group {
        .edited-selected-list {
            margin-left: -16px;
            margin-right: -16px;
            width: calc(100% + 32px);
            margin-top: 1px;
            max-height: 150px;
            overflow: auto;
        }
    }
    .otp-form__title, .otp-form__description, .otp-action-link {
        font-size: 12px;
        line-height: 15px;
    }
    .otp-form {
        .otpField-group {
            input {
                height: 48px;
                font-size: 38px;
            }
        }
    }
}