.BP_Account__content-wrapper {
    padding: 40px 40px 40px 80px;

    .BP_page-title {
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;
        color: #000000;
    }
}

.BP_Account-card {
    background: #FFFFFF;
    border: 1px solid #A8BAC9;
    border-radius: 16px;
    margin-top: 40px;

    .card-header {
        padding: 20px 24px 7px;
        background-color: transparent;
        border-bottom: 1px solid #A8BAC9;
        .card-title {
            margin-bottom: 0px;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
        }
    }

    .card-body {
        background: #F7FAFC;
    }

    table {
        margin-bottom: 0px;
        th, td {
            padding: 15px 17px;
            border: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
        }
        th {
            text-align: right;
            width: 40%;
            font-weight: 500;
        }
    }

    .card-footer {
        border-top: 1px solid #A8BAC9;
        background-color: transparent;
        padding: 14px 24px;
        p {
            font-size: 16px;
            line-height: 20px;
            color: #616C76;
            margin-bottom: 0px;
            a {
                color: #0A60FF;
                font-weight: 600;
            }
        }
    }
}
@media (max-width: 1366px) {
    
}
@media (max-width: 991.98px) {
    .BP_Account__content-wrapper {
        padding: 30px 40px 40px;
    }
}
@media (max-width: 767.98px) {
    .BP_Account__content-wrapper {
        padding: 30px 20px 30px;
        .BP_page-title {
            font-size: 32px;
            line-height: 32px;
        }
    }
    .BP_Account-card {
        margin-top: 20px;
        border-radius: 10px;
        .card-header {
            padding: 15px 20px 7px;
        }
        .card-body {
            padding: 15px 0;
        }
        table {
            th , td {
                font-size: 14px;
                line-height: 18px;
                padding: 10px 10px;
            }
                
        }
    } 
}
